<div>
  <app-header></app-header>
  <div *ngIf="bannerMovie && bannerMovie.videoKey">
    <iframe width="800" height="400" [src]="domSanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/' + bannerMovie.videoKey + '?autoPlay=1')"
      frameborder="0"
      autoplay="true"
      style="border:5px solid white; display: flex; margin-top: 150px; margin-bottom: 150px; border-radius: 10px;">
    </iframe>
  </div>
</div>
<!-- Optional loading message -->
<div *ngIf="!videoUrl">
  <p>Loading trailer...</p>
</div>

















<!-- <div>
  @if (bannerMovie && bannerMovie.videoKey) {
    <iframe width="800" height="400" [src]="domSanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/'+ bannerMovie.videoKey +'?autoPlay=1')" frameborder="0" autoPlay="true"></iframe>
  }
</div> -->
