<div class="browse-container">
  <app-header></app-header>

  <!-- Featured Content Carousel -->
  <div class="featured-section">
    <div class="featured-content">
      <h1>Featured Movie</h1>
      <p>Catch the latest blockbuster now!</p>
      <!-- <h1>{{bannerMovie.original_title}}</h1>
      <p>{{bannerMovie.overview}}</p> -->
      <button class="btn-play btn" (click)="playVideo()">Play</button>
      <button class="btn-info btn">More Info</button>
    </div>
  </div>

  <!-- Movie Grid Section -->
  <div class="movie-categories">
    <app-movie-category [title]="'Popular'"   [movieList]="popularMovies"  (click)="onMovieSelected(movie)"></app-movie-category>
    <app-movie-category [title]="'Top Rated'" [movieList]="topRatedMovies" (click)="onMovieSelected(movie)"></app-movie-category>
    <app-movie-category [title]="'Now Playing'" [movieList]="nowPlayingMovies" (click)="onMovieSelected(movie)"></app-movie-category>
    <app-movie-category [title]="'Upcoming'" [movieList]="upcomingMovies" (click)="onMovieSelected(movie)"></app-movie-category>
  </div>
</div>






















<!--

    @if (bannerMovie && bannerMovie.videoKey) {
      <iframe width="745" height="480" [src]="domSanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/'+ bannerMovie.videoKey +'?autoPlay=1')" frameborder="0" autoPlay="true"></iframe>
    }



-->
